<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet"
          href="/static/bootstrap-3.1.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="shortcut icon" href="/static/favicon.ico">

    {% block head %}
    <title>logbot - {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>

    <div class="container">
    <form class="form-inline search" role="form" method="POST" action="/search">
        <div class="input-group">
            <input class="form-control" type="text" name="query"
                   placeholder="query" />
            <span class="input-group-addon glyphicon glyphicon-search"></span>
        </div>
    </form>
    </div>

    <div id="content">{% block content %}{% endblock %}</div>

    <div class="container">
    <div id="footer">
        <span class="pull-right">
            <a href="http://bitbucket.org/tebeka/logbot">logbot {{version}}</a>
            <img src="/static/favicon.ico" class="logo"/>
        </span>
    </div>
    </div>
</body>
<script src="/static/jquery-2.1.0.min.js"></script>
<script src="/static/bootstrap-3.1.0/js/bootstrap.min.js"></script>
</html>
