{% extends "base.html" %}

{% block content %}
    {% if error %}
    <div class="alert alert-danger">
        <strong>ERROR:</strong> {{ error | e}}
    </div>
    {% endif %}

    {% if results %}
    <div class="container">
        <div class="row">
            Total of {{ results | count }} results.
        </div>
        <div class="row">
        {% for result in results %}
            <li class="{{ loop.cycle('odd', 'even') }}">
                <a href="/log/{{ result.log }}">{{ result.text | e}}</a>
            </li>
        {% endfor %}
        </div>
    {% endif %}

{% endblock %}
