{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
    <h2>Search</h2>
    {% if error %}
        <p class="error">
        ERROR: {{ error | e}}
        </p>
    {% endif %}

    <form method="POST">
        Query: <input type="text" name="query" size=40 value="{{ query | e }}" />
        <input type="submit" value="Search" />
    </form>
    <hr />

    {% if not results is none %}
    Total of {{ results | count }} results.
    <div class="results">
        {% for result in results %}
            <li class="{{ loop.cycle('odd', 'even') }}">
                <a href="/log/{{ result.log }}">{{ result.text | e}}</a>
            </li>
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}
