body {
    font-family: Georgia, serif;
}

div.content {
    margin: 2%;
    border: 1px solid blue;
}

#footer {
    border-top: 1px dashed gray;
    font-size: 0.8em;
}

div.results {
    list-style-type: none;
    font-family: Monospace;
    font-size: 1.2em;
}

div.search li.even {
    background: silver;
}

p.error {
    font-color: red;
    font-family: Monospace;
}

#footer img.logo {
    width: 10px;
}
